:root {
  font-family: "Rajdhani";
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  border-color: #222222;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  display: flex;
  font-size: 18px;
  flex-direction: column;
  flex: 1;
}

@tailwind base;

@layer base {
  h1 {
    @apply text-white text-3xl;
  }

  h2 {
    @apply text-white text-2xl;
  }

  h3 {
    @apply text-white text-xl;
  }

  h4 {
    @apply text-white text-lg;
  }

  a:hover {
    @apply text-white underline;
  }

}



@tailwind components;
@tailwind utilities;

#pages-root {
  display: flex;
  flex: 1;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: #fff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

button {
  outline: none !important;
}

button:hover {
  border-color: white;
}

button:focus,
button:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
}

.MuiButtonBase-root {
  border-radius: 0 !important;
}

.lh-low {
  line-height: 12px;
}

.inActive {
  opacity: 0.3;
}

::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #323232;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.MuiInput-root:before {
  border: 0 !important;
}

textarea::placeholder {
  color: #888;
  font-size: 18px;
  font-weight: 500;
}

.MuiButton-root {
  /* min-width: 150px !important; */
  box-shadow: 0 0 !important;
}

.swal2-popup.swal2-toast .swal2-title {
  margin: 0 !important;
  padding-left: 1rem !important;
}

.swal2-popup.swal2-toast .swal2-html-container {
  margin: 0 !important;
  padding-left: 1rem !important;
}

.Mui-disabled {
  background: transparent !important;
  color: #494949 !important;
  -webkit-text-fill-color: darkgray !important;
  cursor: not-allowed;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  background: #222 !important;
  color: white !important;
  border-radius: 0 !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background: #444 !important;
  min-width: 110px !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-cancel {
  background: #444 !important;
  min-width: 110px !important;
}

div:where(.swal2-container) button:where(.swal2-styled).warning {
  color: #f8bb86 !important;
  min-width: 110px !important;
  background: transparent !important;
  border: 1px solid #f8bb86 !important;
}


.leaflet-bottom.leaflet-right {
  display: none !important;
}

.transition {
  transition: height 300ms cubic-bezier(0.65, 0, 0.35, 1);
}

.swal2-container {
  z-index: 9999999999;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

/* .keen-slider {
  height: 100%;
} */

@media (prefers-color-scheme: light) {

  div:where(.swal2-container) div:where(.swal2-popup) {
    background: #fff !important;
    color: #444 !important;
    border-radius: 0 !important;
  }

  div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background: #444 !important;
    min-width: 110px !important;
  }

  :root {
    color: black;
    font-weight: 500;
    background-color: #F5F5F5;
    color: #222;
  }

  div {
    color: #222;
  }

  a {
    color: #222;
  }

  a:hover {
    color: #444;
  }

  button {
    background-color: #f9f9f9;
  }


  ::-webkit-scrollbar-track {
    background: #aaa;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  h1 {
    @apply text-[#222] font-semibold;
  }

  h2 {
    @apply text-[#222] font-semibold;
  }

  h3 {
    @apply text-[#222] font-semibold;
  }

  h4 {
    @apply text-[#222] font-semibold;
  }

  a:hover {
    @apply text-[#222] font-semibold;
  }
}

/* width */